<div class="chat-room-main">
  {{> ChatRoomHeader}}
  {{#> ChatRoomBody}}
    {{> DayDateMessage datetime="2023-11-22" date="22 November" }}
    {{> UserMessageWrapper
      type="incoming"
      message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
      datetime="2023-11-22 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="incoming"
      image="/attach-image.webp"
      datetime="2023-11-22 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="outgoing"
      message="Круто!"
      datetime="2023-11-22 11:56"
      date="11:56"
      messageStatusRead=true
    }}
    {{> DayDateMessage datetime="2023-11-23" date="23 November" }}
    {{> UserMessageWrapper
      type="incoming"
      message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
      datetime="2023-11-23 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="outgoing"
      message="Круто!"
      datetime="2023-11-23 12:00"
      date="12:00"
      messageStatusRead=true
    }}
    {{> DayDateMessage datetime="2023-11-24" date="24 November" }}
    {{> UserMessageWrapper
      type="incoming"
      message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
      datetime="2023-11-24 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="outgoing"
      message="Круто!"
      datetime="2023-11-24 12:00"
      date="12:00"
      messageStatusRead=true
    }}
    {{> DayDateMessage datetime="2023-11-26" date="26 November" }}
    {{> UserMessageWrapper
      type="incoming"
      message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
      datetime="2023-11-26 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="outgoing"
      message="Круто!"
      datetime="2023-11-26 12:00"
      date="12:00"
      messageStatusRead=true
    }}
    {{> DayDateMessage datetime="2023-11-28" date="26 November" }}
    {{> UserMessageWrapper
      type="incoming"
      message="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
      datetime="2023-11-28 11:56"
      date="11:56"
    }}
    {{> UserMessageWrapper
      type="outgoing"
      message="Круто!"
      datetime="2023-11-28 12:00"
      date="12:00"
      messageStatusUnread=true
    }}
  {{/ChatRoomBody}}
  {{> ChatRoomFooter }}
</div>
