.chat-item {
  --chat-spacing: 0.625rem;

  position: relative;
  display: flex;
  padding: var(--chat-spacing) var(--chat-spacing);
  cursor: pointer;
  gap: var(--chat-spacing);
}

.chat-item:first-child {
  margin-block-start: 0.1875rem;
}

.chat-item:first-child::before {
  position: absolute;
  background-color: var(--border-bottom-color);
  block-size: 1px;
  content: '';
  inline-size: calc(100% - var(--chat-spacing) - var(--chat-spacing));
  inset-block-start: -0.1875rem;
  inset-inline-start: var(--chat-spacing);
}

.chat-item::after {
  position: absolute;
  background-color: var(--border-bottom-color);
  block-size: 1px;
  content: '';
  inline-size: calc(100% - var(--chat-spacing) - var(--chat-spacing));
  inset-block-end: -0.1875rem;
  inset-inline-start: var(--chat-spacing);
}

.chat-item:hover {
  background-color: var(--hovered-chat-background);
}

.chat-item-left-container {
  flex: 0 0 2.9375rem;
  background: var(--backing-avatar-background);
  block-size: 2.9375rem;
  clip-path: circle(50%);
  inline-size: 2.9375rem;
}

.chat-item-avatar {
  block-size: auto;
  inline-size: 100%;
}

.chat-item-right-container {
  flex-grow: 1;
}

.chat-item-inner-top-container {
  display: flex;
  justify-content: space-between;
  gap: var(--chat-spacing);
}

.chat-item-inner-bottom-container {
  display: flex;
  justify-content: space-between;
  block-size: 1.875rem;
  gap: 1.25rem;
}

.chat-item-user-name {
  overflow: hidden;
  color: var(--text-color-primary);
  inline-size: 10.5rem;
  margin-block-end: 0.25rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.chat-item-inner-bottom-container .chat-item-message {
  overflow: hidden;
  color: var(--text-color-secondary);
  inline-size: 12.0625rem;
  line-height: 0.9375rem;
  max-block-size: 1.875rem;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.chat-item-date {
  color: var(--text-color-secondary);
  font-size: 0.5625rem;
  font-weight: 500;
  line-height: 0.8125rem;
  text-align: end;
}

.chat-item-notice-wrapper {
  position: relative;
  align-self: flex-end;
  background-color: var(--notification-primary-background);
  block-size: 1.25rem;
  clip-path: circle(50%);
  inline-size: 1.25rem;
}

.chat-item-notice-inner {
  position: absolute;
  color: var(--text-color-white);
  font-size: 0.6875rem;
  font-weight: 500;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  line-height: 0.75rem;
  transform: translate(-50%, -50%);
}
