.input-container {
  position: relative;
}

.input-element {
  width: 100%;
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--border-primary);
}

.input-element:focus {
  outline: none;
}

.input-label {
  position: absolute;
  left: 0;
  top: 50%;
  color: var(--text-color-secondary);
  pointer-events: none;
  transform: translateY(-50%);
  transition:
    transform 0.2s ease-in-out,
    top 0.2s ease-in-out,
    font-size 0.2s ease-in-out;
}

.input-element:not(:placeholder-shown) + .input-label,
.input-element:focus + .input-label {
  top: 0;
  transform: translateY(-0.625rem);
  font-size: 0.5625rem;
  color: var(--text-color-secondary);
}
