.profile-avatar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backing-avatar-background);
  block-size: 8.125rem;
  clip-path: circle(50%);
  inline-size: 8.125rem;
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  margin-block-start: 1.3rem;
}

.change-avatar-wrapper {
  position: absolute;
  background-color: var(--change-avatar-backing);
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.change-avatar-text {
  position: absolute;
  color: var(--text-color-white);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.profile-avatar-wrapper:hover > .change-avatar-wrapper {
  opacity: 1;
}

.change-user-avatar-input {
  position: absolute;
  cursor: pointer;
  inset-block: 0 0;
  inset-inline: 0 0;
  opacity: 0;
}

.user-avatar-container {
  block-size: 100%;
  inline-size: 100%;
}

.user-avatar {
  object-fit: cover;
}
