<main class="grid">
  <div class="nav-panel">
    {{> ChatsHeader }}
    {{> ChatsList}}
  </div>
  <div class="main-content">
    <p class="text-fs-12 select-chat-message">Select a chat room to send a message</p>
  </div>
</main>