.button {
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  color: var(--text-color-blue);
  inline-size: 100%;
  max-inline-size: 17.5rem;
}

.button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: var(--button-primary-background);
  color: var(--text-color-white);
}
