.chat-room-header {
  --chat-room-header-x-spacing: 1.25rem;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.635rem var(--chat-room-header-x-spacing);
  background-color: var(--chat-room-header-background);
  inline-size: 100%;
  inline-size: -moz-available;
  inline-size: -webkit-fill-available;
  inline-size: fill-available;
  inset-block-start: 0;
}

.chat-room-header::after {
  position: absolute;
  background-color: var(--border-bottom-color);
  block-size: 1px;
  content: '';
  inline-size: calc(
    100% - var(--chat-room-header-x-spacing) - var(--chat-room-header-x-spacing)
  );
  inset-block-end: 0;
  inset-inline-start: var(--chat-room-header-x-spacing);
}

.chat-room-header-user-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.chat-room-header-user-name {
  color: var(--text-color-primary);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.8125rem;
}

.icon-kebab-menu {
  --fill-color-sprite: var(--kebab-icon-background-disable);
}
