.nav-panel-header {
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1.31rem 0.625rem 0.875rem;
  background-color: var(--aside-chats-background);
  inset-block-start: 0;
}

.profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-color-secondary);
  gap: 0.5rem;
  margin-block-end: 1.44rem;
  text-align: end;
}

.profile-link-arrow {
  position: relative;
  block-size: 0.3rem;
  inline-size: 0.5rem;
}

.profile-link-arrow::before {
  position: absolute;
  background-color: var(--profile-arrow-background);
  block-size: 1px;
  content: '';
  inline-size: 0.375rem;
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: rotate(45deg);
}

.profile-link-arrow::after {
  position: absolute;
  background-color: var(--profile-arrow-background);
  block-size: 1px;
  content: '';
  inline-size: 0.375rem;
  inset-block-end: 0;
  inset-inline-start: 0;
  transform: rotate(315deg);
}

.chat-search-widget {
  position: relative;
  inline-size: 100%;
}

.chat-search-input {
  padding: 0.38rem 0.63rem 0.38rem 1.88rem;
  border-radius: 0.3125rem;
  background: var(--input-search-background);
  inline-size: 100%;
}

.chat-search-input-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.2s ease-in-out,
    inset-inline-start 0.2s ease-in-out;
}

.chat-search-input-description-text {
  color: var(--text-color-secondary);
  transition: opacity 0.2s ease-in-out;
}

.chat-search-input:focus
  + .chat-search-input-description
  .chat-search-input-description-text {
  opacity: 0;
}

.chat-search-input:focus + .chat-search-input-description {
  inset-inline-start: 0.38rem;
  transform: translate(0, -50%);
}
