.wrapper-message {
  inline-size: fit-content;
  max-inline-size: 25.125rem;
}

.wrapper-outgoing-message {
  align-self: flex-end;
}

.wrapper-incoming-message {
  align-self: flex-start;
}

.inner-wrapper-message {
  margin-block-end: 0.35rem;
  max-inline-size: 25.125rem;
}

.incoming-message-text {
  background-color: var(--incoming-message-background);
}

.outgoing-message-text {
  background-color: var(--outgoing-message-background);
}

.meta-data-chat-message {
  color: var(--text-color-secondary);
  font-size: 0.5625rem;
  font-weight: 500;
  line-height: 0.5625rem;
  padding-inline-end: 0.75rem;
  text-align: end;
}

.attach-image-wrapper {
  overflow: hidden;
  border: 1px solid var(--border-bottom-color);
  border-radius: 0.75rem;
  block-size: 13.1875rem;
  inline-size: 19.75rem;
  margin-block-end: 0.35rem;
}

.attach-image {
  block-size: auto;
  inline-size: 100%;
}

.icon-indicator-message-status-unread {
  --stroke-color-sprite: var(--icon-indicator-message-status-read);
}

.icon-indicator-message-status-read {
  --stroke-color-sprite: var(--icon-indicator-message-status-read);  
}

.message-text { 
  padding: 0.695rem;
  border-radius: 0.75rem;
  color: var(--text-color-message);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
}
