<div>
  {{> BackButton}}
  <div class="container">
    <div class="inner-container">
      {{> ProfileUserAvatar user-name="Ivan" }}
      {{> CommonSettingsList}}
      {{> ControllersSettingsList}}
    </div>
  </div>
</div>