.fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  gap: 1rem;
  margin-block-end: 3rem;
}

.fieldset .form-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
