.dialog-add-user,
.dialog-delete-user {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-backing-dialog);
  inset-block: 0 0;
  inset-inline: 0 0;
}

.display-none {
  display: none;
}
