.back-button-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wrapper-back-btn-background);
  block-size: 100vb;
  inline-size: 4rem;
}

.back-button:hover {
  opacity: 0.8;
}
