.chat-room-body {
  display: flex;
  flex-direction: column;
  padding: 4.375rem 1.25rem 0.625rem;
  block-size: 100%;
  gap: 0.5rem;
  overflow-y: auto;
}

.chat-room-body::-webkit-scrollbar {
  display: none;
}
