<div>
  {{> BackButton}}
  <div class="container">
    <div class="inner-container">
      {{> ProfileUserAvatar user-name="Ivan" }}
      {{> ChangePasswordList}}
      {{> Button label="Save" type="primary" }}
    </div>
  </div>
</div>