.sidebar {
  position: relative;
  overflow: auto;
  background-color: var(--aside-chats-background);
  block-size: 100vb;
  border-inline-end: 1px solid var(--border-bottom-color);
  grid-column: 1 / 1;
  padding-block-end: 0.625rem;
}

.sidebar:hover .create-new-chat {
  transform: translateY(0);
}

.sidebar::-webkit-scrollbar {
  display: none;
}
