.chat-room-footer {
  --chat-room-footer-x-spacing: 1.25rem;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0.695rem var(--chat-room-footer-x-spacing);
  background-color: var(--chat-room-footer-background);
  gap: 0.625rem;
}

.chat-room-footer::before {
  position: absolute;
  background-color: var(--border-bottom-color);
  block-size: 1px;
  content: '';
  inline-size: calc(100% - var(--chat-room-footer-x-spacing) - var(--chat-room-footer-x-spacing));
  inset-block-start: 0;
  inset-inline-start: 0.695rem;
}

.attach-button .icon-attach {
  --fill-color-sprite: var(--attach-file-icon-sprite-color-disabled);
}

.active-attach-button .icon-attach {
  --fill-color-sprite: var(--attach-file-icon-sprite-color-active);
}

.attach-button:hover .icon-attach {
  --fill-color-sprite: var(--attach-file-icon-sprite-color-active);
}

.label-message-chat {
  flex-grow: 1;
}

.input-message-chat {
  padding: 0.635rem var(--chat-room-footer-x-spacing);
  border-radius: 1.875rem;
  background-color: var(--input-message-chat-background);
  inline-size: 100%;
}

.send-message-button .icon-send-message {
  display: block;
  transform: rotate(-180deg);
}
