<main>
  {{> BackButton}}
  <div class="container">
    <form class="inner-container">
      {{> ProfileUserAvatar user-name="Ivan" }}
      {{> ChangeCommonDataList}}
      {{> Button label="Save" type="primary" }}
    </form>
  </div>
</main>
