{{#> SettingsList}}
  {{#> SettingItem}}
    <p class="text user-data-description">Old Password</p>
    <input disabled class="text change-input" type="password" name="input" value="1234" />
  {{/SettingItem}}
  {{#> SettingItem}}
    <p class="text user-data-description">New Password</p>
    <input class="text change-input" type="password" name="input" value="qwer1234" />
  {{/SettingItem}}
  {{#> SettingItem}}
    <p class="text user-data-description">Repeat the New Password</p>
    <input class="text change-input" type="password" name="input" value="qwer1243" />
  {{/SettingItem}}
{{/SettingsList}}