.link {
  width: 100%;
  text-align: center;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  font-weight: 500;
  color: var(--text-color-blue);;
}

.link:hover {
  opacity: 0.8;
}

.user-data-item .link-profile-settings {
  text-align: left;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.8125rem;
}
