.link {
  color: var(--text-color-blue);
  cursor: pointer;
  font-size: 0.6875rem;
  font-weight: 500;
  inline-size: 100%;
  line-height: 0.6875rem;
  text-align: center;
}

.link:hover {
  opacity: 0.8;
}

.user-data-item .link-profile-settings {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.8125rem;
  text-align: start;
}
